
html, body {height: 100%;}
h1 {font: small-caps x-large sans;}
body>section {padding: 20px;}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin-bottom: -50px;
}
#footer, #footer-push {
    height: 50px;
    margin: 0;
    padding: 0;
}
#footer {
    background: lightgray;
    padding: 20px;
}

/* Filters */
#filters li {
	display: inline;
	margin-left: 1.5em;
}
.super {
	vertical-align:super;
	font-size: small;
	color: gray;
}

/* Task form */
form#task-form {width: 320px}
.input-task {
	display: inline; 
	font-size: smaller; 
	width: 100%;
	resize: vertical;
	margin: 6px 0;
}
span.info {
	font-size: smaller;
	padding: 6px;
	height: 27px;
	display: block;
	width: 95px;
	margin-bottom: -27px;
	position: relative;
	top: -32px;
	left: 330px;
}

/* Task list */
ul#task-list {width: 320px}
#task-list label, #task-list div div {
	width: 240px;
	margin-left: 16px;
	/*overflow: hidden;*/
}
#task-list li {
	margin: 12px 0; 
	list-style: none;
	min-height: 80px;
}
#task-list li.completed label {
	text-decoration: line-through;
}
#task-list li.completed div.description {
	color: lightgray;
}
.toggle {
	float: left; 
	width: 15px;
}
.btn-destroy, .btn-edit {
	float: right; 
	width: 46px; 
	height: 32px;
}
.btn-destroy {
	clear: right;
	margin-top: 10px;
}
/* Task edit */
#task-list li.editing .view {display: none;}

#task-list li.editing .edit {
	display: inline;
}
#task-list li .edit {display: none;}

