
html, body {height: 100%;}
h1 {font: small-caps x-large sans;}
body>section {padding: 1em;}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin-bottom: -3em;
}
#footer, #footer-push {
    height: 3em;
    margin: 0;
    padding: 0;
}
#footer {
    background: lightgray;
    padding: 1em;
}

/* Filters */
#filters li {
	display: inline;
	margin-right: 2em;
}
.super {
	vertical-align:super;
	font-size: small;
}

/* Task form */
form#task-form {width: 20em}
#task-form input {margin: 0.5em 0}
#task-form input, #task-form textarea {
	display: block; 
	font-size: smaller; 
	width: 100%;
	resize: vertical;
}
#task-form>span {
	position: absolute; 
	left: 26.5em; 
	top: 5.8em;
	font-size: smaller;
	color: red;
}

/* Task list */
ul#task-list {width: 20em}
#task-list label, #task-list div {
	width: 15em;
	margin-left: 1em;
}
#task-list li {
	margin: 1em 0; 
	list-style: none;
}
.toggle {
	float: left; 
	width: 1em;
}
.destroy {
	float: right; 
	width: 2.8em; 
	height: 1.8em;
}
