<!doctype html>
<html ng-app="taskmgr">
<head>
    <!--[if lt IE 7]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
    <![endif]-->
    <meta charset="utf-8">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="js/task-manager.js"></script>
    
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/reset-html5.css" />
    <link rel="stylesheet" href="css/main.css" />

    <title>Personal Task-manager</title>
</head>

<body>
<section ng-controller="TaskCtrl" id="wrap">
    <header>
        <h1>Personal task-manager</h1>
        <ul id="filters">
            <li><a href="#/">All<span class="super">({{tasks.length}})</span></a></li>
            <li><a href="#/active">Active<span class="super">({{remainingCount}})</span></a></li>
            <li><a href="#/completed">Completed<span class="super">({{completedCount}})</span></a></li>
        </ul>
    </header>

    <form id="task-form" ng-submit="addTask()"> 
	    <input id="new-task" placeholder="Enter title" autofocus ng-model="newTitle"/>
        <textarea placeholder="Enter description" ng-model="newDesc"></textarea>
        <input class="btn-primary" type="submit" value="add">
	</form>

    <ul id="task-list">
        <li ng-repeat="task in tasks | filter:statusFilter">
            <div>
                <input class="toggle" type="checkbox" ng-model="task.completed">
                <button class="destroy" ng-click="removeTask(task)"><i class="fa fa-trash-o fa-fw"></i></button>
                <label>{{task.title}}</label>
                <textarea readonly>{{task.description}}</textarea>
            </div>
            
        </li>
    </ul>

    <div id="footer-push"></div>
</section>

<footer id="footer">
    <p><a href="">Tra-ta-ta</a> &mdash; tu-tu ru-tu!</p>
</footer>
</body>
</html>
