<!doctype html>
<html ng-app="taskmgr">
<head>
    <!--[if lt IE 7]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
    <![endif]-->
    <meta charset="utf-8">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="js/task-manager.js"></script>
    
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/reset-html5.css" />
    <link rel="stylesheet" href="css/main.css" />

    <title>Personal Task-manager</title>
</head>

<body>
<section ng-controller="TaskCtrl" id="wrap">
    <header>
        <h1>Personal task-manager</h1>
        <ul id="filters">
            <li><a ng-class="{selected: location.path() == '/'} " href="#/">All</a><span class="super">({{tasks.length}})</span></li>
            <li><a ng-class="{selected: location.path() == '/active'} " href="#/active">Active</a><span class="super">({{remainingCount}})</span></li>
            <li><a ng-class="{selected: location.path() == '/completed'} " href="#/completed">Completed</a><span class="super">({{completedCount}})</span></li>
        </ul>
    </header>

    <form id="task-form" name="taskForm" ng-submit="addTask()">
	    <input class="input-task" id="new-title" name="newTitle" placeholder="Please enter a title" autofocus required ng-model="newTitle"/>
        <span class="info alert alert-warning" ng-show="taskForm.newTitle.$error.required">Requred field!</span>
        <textarea class="input-task" placeholder="Enter description" ng-model="newDesc"></textarea>
        <input class="input-task btn  btn-primary" type="submit" value="Add" ng-disabled="taskForm.$invalid" />
	</form>

    <ul id="task-list">
        <li ng-repeat="task in tasks | filter:statusFilter track by $index" ng-class="{completed: task.completed, editing: task == editedTask}">
            <div class="view">
                <input class="toggle" type="checkbox" ng-model="task.completed">
                <button class="btn btn-primary btn-edit" ng-click="editTask(task)"><i class="fa fa-pencil-square-o fa-fw"></i></button>
                <button class="btn btn-danger btn-destroy" ng-click="removeTask(task)"><i class="fa fa-trash-o fa-fw"></i></button>            
                <div>
                    <label ng-dblclick="editTask(task)">{{task.title}}</label>
                    <div class="description">{{task.description}}</div>
                </div>
            </div>
            <form class="edit" name="taskEditForm" ng-submit="doneEditing(task)">
                <input class="input-task" id="edit-title" name="editTitle" required ng-model="task.title"/>
                <span class="alert alert-warning info" ng-show="taskEditForm.editTitle.$error.required">Requred field!</span>
                <textarea class="input-task" ng-model="task.description"></textarea>
                <input class="input-task btn  btn-primary" type="submit" value="Save" ng-disabled="taskEditForm.$invalid" />
            </form>
        </li>
    </ul>

    <div id="footer-push"></div>
</section>

<footer id="footer">
    <p><a href="http://angularjs.org">Powered with AngularJS</a> &mdash; 2013</p>
</footer>
</body>
</html>
